[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"

[dev-packages]
jupyterlab = "*"
ipykernel = "*"
xeus-python = "*"
jupyter = "*"
nbdev = "*"

[requires]
python_version = "3.8"
